<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codevsolution.freemarketsapp">

    <application
        android:name="com.codevsolution.base.android.AppActivity"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.codevsolution.base.android.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.codevsolution.base.android.MainActivityBase" />
        <activity android:name="com.codevsolution.base.login.LoginActivity" />

        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.codevsolution.freemarketsapp.sqlite.ProviderPry"
            android:authorities="${applicationId}"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="com.codevsolution.base.sqlite.ProviderSystem"
            android:authorities="${applicationId}.system"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <receiver android:enabled="false"
                  android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:name="com.codevsolution.base.services.AutoArranqueChat">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:enabled="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:name="com.codevsolution.base.services.AutoArranqueJedi">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:enabled="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:name="com.codevsolution.base.services.AutoArranqueVoz">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.codevsolution.base.services.ReceiverBase">
        </receiver>
        <receiver android:name="com.codevsolution.base.services.ChatReceiver">
            <intent-filter>
                <action android:name="jjlacode.com.base.util.action.AVISOMSGCHAT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.codevsolution.base.services.JediReceiver">
            <intent-filter>
                <action android:name="jjlacode.com.base.util.action.JEDI" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.codevsolution.base.services.ServiceChat"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name="com.codevsolution.base.notifications.fcm.IFirebaseMessagingService" />
        <service
            android:name="com.codevsolution.base.services.ServicioJedi"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.codevsolution.base.services.ServicioVoz"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="com.codevsolution.base.services.ServicioJediVoz"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBpu-UzM1poaj2bImbZ8XzWacHgbgNJvMk" />

    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

</manifest>